.root {
  width: 100vw;
  display: flex;
  align-items: center;
  border-bottom: 1px grey solid;
  padding: 8px;
}

.dropdownButton {
  cursor: pointer;
}

.root > *:last-child {
  margin-left: auto !important;
}

.dropdownMenu {
  color: var(--arash-primary-clr);
  right: 0;
}

.iconButton {
  color: var(--arash-black-clr);
  cursor: pointer;
  font-size: 48px;
  border-radius: 50%;
  padding: 6px;
}

.iconButton:hover {
  background-color: rgba(60, 64, 67, 0.08);
}
