.root {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px grey solid;
  padding: 8px;
  position: fixed;
  background-color: var(--arash-white-clr);
  z-index: 1;
}

.dropdownButton {
  cursor: pointer;
}

.root > *:nth-last-child(2) {
  margin-left: auto !important;
  margin-right: 20px;
}

.dropdownMenu {
  color: var(--arash-primary-clr);
  right: 0;
}

.iconButton {
  color: var(--arash-black-clr);
  cursor: pointer;
  font-size: 48px;
  border-radius: 50%;
  padding: 6px;
  margin-right: 20px;
}

.iconButton:hover {
  background-color: rgba(60, 64, 67, 0.08);
}
