.root {
  height: fit-content;
  min-height: 100vh;
  background-color: var(--arash-bg-clr);
  overflow-x: hidden;
}

.content {
  position: absolute;
  top: var(--top-menu-height);
  left: calc(var(--side-menu-width) + 10px);
}
